<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

    <link rel="stylesheet" href="style.css">
    <!-- Primary Meta Tags -->
    <title>COVID-19 evolution graphs, coronavirus by country</title>
    <meta name="title" content="COVID-19 evolution graphs, coronavirus by country">
    <meta name="description" content="covid-19 cases by country, new & total cases, recoveries, deaths from dudnic.com">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://dudnic.com/covid-19/">
    <meta property="og:title" content="Coronavirus COVID-19 evolution graphs by country">
    <meta property="og:description"
        content="covid-19 cases by country, new & total cases, recoveries, deaths from dudnic.com">
    <meta property="og:image" content="https://dudnic.com/covid-19/assets/virus19.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://dudnic.com/covid-19/">
    <meta property="twitter:title" content="Coronavirus COVID-19 evolution graphs by country">
    <meta property="twitter:description"
        content="covid-19 cases by country, new & total cases, recoveries, deaths from dudnic.com">
    <meta property="twitter:image" content="https://dudnic.com/covid-19/assets/virus19.png">
    <link rel="icon" href="favicon.ico" />
</head>

<body>
    <div id="app">
        <v-app>
            <v-app-bar app color="amber">
                <img class="header-icon" src="assets/virus19.png">
                <v-toolbar-title>COVID-19&nbsp;<span class="font-weight-light">evolution&nbsp;<span
                            v-if="countryName">in&nbsp;{{countryName}}</span></span></v-toolbar-title>

                <v-spacer></v-spacer>

                <v-btn icon>
                    <v-icon>mid-heart</v-icon>
                </v-btn>
            </v-app-bar>
            <v-content>
                <v-container fluid>
                    <v-row align="center" justify="center">
                        <v-col cols="6">
                            <v-autocomplete v-model="countryCode" :items="countries" item-text="name" item-value="iso3">
                            </v-autocomplete>
                            <v-col cols="12">
                                <v-card-text class="py-2 text-center">
                                    last check <span id="lastApiUpdate">{{last.updateDate | isoDateTime}} (+
                                        new cases
                                        today)</span>
                                </v-card-text>
                            </v-col>

                        </v-col>
                    </v-row>
                    <v-row align="center">
                        <v-col cols="12">
                            <v-card-text class="py-2 text-center">
                                <aside>
                                    <span><label for="confirmed">⚑ confimed ☛ {{last.total.confirmed}}
                                            (+{{last.new.confirmed}})</label><input type="number" id="confirmed"
                                            name="confirmed"></span>
                                    <span><label for="recovered">⚑ recovered ☛ {{last.total.recovered}}
                                            (+{{last.new.recovered}})</label><input type="number" id="recovered"
                                            name="recovered"></span>
                                    <span><label for="deaths">⚑ deaths ☛ {{last.total.deaths}}
                                            (+{{last.new.deaths}})</label><input type="number" id="deaths"
                                            name="deaths"></span>
                                </aside>
                            </v-card-text>
                        </v-col>
                    </v-row>
                    <div>

                    </div>
                    <div class="charts-container">
                        <article class="new-chart"></article>
                        <article class="total-chart"></article>
                    </div>
                </v-container>
            </v-content>
            <v-footer absolute app>
                <v-card-text class="py-2 text-right">
                    {{ new Date().getFullYear() }} <a href="https://github.com/sdudnic/covid-19"
                        target="blank">covid-19</a> project by
                    <a href="https://github.com/sdudnic" target="blank">sdudnic</a> & co
                </v-card-text>

            </v-footer>
        </v-app>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="countries.js"></script>
    <script type="text/javascript" src="covid.js"></script>
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>
</body>

</html>

</body>

</html>