.charts-container {
    margin: 1em;
    text-align: center;
}

.charts-container>article {
    border: 1px dotted lightgray;
    margin: 1em auto 0 auto;
    border-radius: 1em;
    min-height: 300px;
    max-width: 800px;
}

select {
    border: 1px solid lightgray;
    font-weight: bold;
}

aside {
    background-color: whitesmoke;
    border-radius: .5em;
}

aside>span {
    white-space: nowrap;
}

section.heading {
    text-align: center;
    margin: 1em;
}

section.heading>img {
    float: left;
}

input[type=number] {
    width: 70px;
}

label[for=confirmed] {
    color: orange;
}

label[for=recovered] {
    color: green;
}

label[for=deaths] {
    color: red;
}

footer {
    text-align: right;
}

#lastApiUpdate {
    font-weight: bold;
}