.charts-container {
    margin: 1em;
}

.charts-container>article {
    border: 1px solid lightgray;
    margin: 0 0 1em 0;
    border-radius: 1em;
    min-height: 300px;
}

select {
    border: 1px solid lightgray;
}

section.heading {
    text-align: center;
}

input[type=number] {
    width: 70px;
}

label[for=confirmed] {
    color: orange;
}

label[for=recovered] {
    color: green;
}

label[for=deaths] {
    color: red;
}